body {
    color:black;
    background:#456f45;
    margin: 0px;
    font-family: "Griffy", system-ui;
}

header {
    border-bottom: solid 2px rgb(10, 44, 5);
    padding: 20px;
    font-size: 35px;
    color: rgb(10,44,5);
}

section {
    background: rgb(67,30,67,1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 25px;
}

img {
height: 250px;
}