body {
    color:black;
    background:#456f45;
    margin: 0px;
    font-family: "Griffy", system-ui;
    margin-bottom: 95px;
}

header {
    border-bottom: solid 2px rgb(10, 44, 5);
    padding: 20px;
    font-size: 35px;
    color: rgb(10,44,5);
}

.chamada {
    background: rgb(67,30,67,1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 25px;
}

img {
height: 275px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 47px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 275px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid purple;
}

.categoria h2 {
    color:rgb(10,44,5);
}